<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">

    <a th:href="@{/}">Home</a>

    | &nbsp;

    <a th:href="@{/user/userInfo}">User Info</a>

    | &nbsp;

    <a th:href="@{/admin}">Admin</a>

    | &nbsp;
    <a th:href="@{/accout/sign-up}">Sign-Up</a>
    | &nbsp;&nbsp;
    <th:block th:if="${#request.userPrincipal != null}">
        <form th:action="@{/j_spring_security_logout}" method="post">
<!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
            <input type="submit" value="Logout"/>
        </form>
    </th:block>

</div>