<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--<head>-->
<!--    <title>Sign-Up</title>-->
<!--</head>-->
<!--<body>-->
<!--<th:block th:if="${exist}">-->
<!--    <p th:text="${exist}"></p>-->
<!--</th:block>-->
<!--<form th:action="@{/accout/sign-up}" th:method="post">-->
<!--    <lable>Email</lable>-->
<!--    <input type="text" id="email" name="userName">-->

<!--    <lable>Password</lable>-->
<!--    <input type="password" id="password" name="password">-->
<!--    <input type="submit">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Material Design for Bootstrap</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-login-form.min.css}"></link>
</head>

<body>
<section class="vh-200" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign up</h3>
                        <th:block th:if="${exist}">
                            <p th:text="${exist}"></p>
                        </th:block>
                        <form th:action="@{/accout/sign-up}" th:method="post">
                            <div class="form-outline mb-4">
                                <input type="text" id="typeEmailX-2" class="form-control form-control-lg"/>
                                <label class="form-label" for="typeEmailX-2">Name</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" id="typePasswordX-2" class="form-control form-control-lg" name="userName"/>
                                <label class="form-label" for="typePasswordX-2">Username</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="typeEmailX-2" class="form-control form-control-lg" name="password"/>
                                <label class="form-label" for="typeEmailX-2">Password</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="number" id="typeEmailX-2" class="form-control form-control-lg" name="phone"/>
                                <label class="form-label" for="typeEmailX-2" >Phone</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="mail"/>
                                <label class="form-label" for="typeEmailX-2">Email</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="city"/>
                                <label class="form-label" for="typeEmailX-2">
                                    Living City </label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Registry</button>
                        </form>
                        <hr class="my-4">

                        <a th:href="@{/accout/sign-up}">
                            <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                                    type="submit">Sign up
                            </button>
                        </a><br>
                        <a th:href="@{/accout/login}">
                            <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                                    type="submit">Sign in
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
</body>

</html>